.text-brand {
  font-family: 'Roboto Mono', monospace;
}

.bg-indigo{
  background-color: #083D77;
}

.bg-blue{
  background-color: #66C3FF;
}

.text-indigo{
  background-color: transparent;
  color: #083D77;
}

.text-blue{
  background-color: transparent;
  color: #66C3FF;
}

.text-cultured{
  background-color: transparent;
  color: #F7F7F7;
}

.link-cultured{
  background-color: transparent;
  color: #F7F7F7;
}

.link-cultured:hover{
  background-color: transparent;
  color: #66C3FF;
}
